/*
Hewlett-Packard Company
Copyright 2015, 2016, 2017 Hewlett Packard Enterprise Development LP
Written for Hewlett Packard Enterprise, Knowledge Management

===========
TOC
===========
Color palette
Import fonts
CSS reset (normalize.css)
Standard body stuff
Block elements
Inline elements
Tables

===========
Color palette
===========
Primary
#01A982 - HPE green
#000000 - Font color
#FFFFFF - Background

Secondary
Neutrals
#425563 - HPE Slate
#5F7A76 - HPE Dark Steel
#80746E - HPE Bronze
#C6C9CA - HPE Gray 1
Vibrants
#2AD2C9 - HPE Turquouise
#FF8D6D - HPE Orange
#614767 - HPE Purple
*/
@font-face {
    font-family: "Metric";
    src: url(https://hpefonts.s3.amazonaws.com/MetricWeb-Regular.woff) format("woff");
}

@font-face {
    font-family: "Metric";
    font-weight: 700;
    src: url(https://hpefonts.s3.amazonaws.com/MetricWeb-Bold.woff) format("woff");
}

@font-face {
    font-family: "Metric";
    font-weight: 600;
    src: url(https://hpefonts.s3.amazonaws.com/MetricWeb-Semibold.woff) format("woff");
}

@font-face {
    font-family: "Metric";
    font-weight: 100;
    src: url(https://hpefonts.s3.amazonaws.com/MetricWeb-Light.woff) format("woff");
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

/* Other fixes and resets */
/* Prevent font scaling in landscape */
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

/* Always show scrollbar */
html,body {
    height: 101%;
}

/* Reset list styles */
ol,ul {
    list-style: none;
}
/* Hide hr artefacts */
hr {
	display:none;
}
/* Reset tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,td {
    text-align: left;
    font-weight: 400;
}

/* Set page layout and font */
body {
    font-family:'Metric';
	font-size: 1em;
	display: block;
    margin: 0 auto;
	width: 1000px;
	padding: 1em 0;
}
@media all and (max-width:1020px) {
    body {
        width: 96% !important;
        margin: 0 2% !important;
    }
}
.heading1,h1,.h1 {
    color: #000 !important;
    font-family: "Metric",arial !important;
    font-size: 1.8em !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-bottom: .8em;
	margin-top: 0;
}

.heading2,h2,.h2 {
    color: #000 !important;
    font-family: "Metric",Arial !important;
    font-size: 1.3em !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-bottom: .8em !important;
	margin-top: 0;
}

.heading3,h3,.h3 {
    color: #000 !important;
    font-family: "Metric",Arial !important;
    font-size: 1.25em !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-bottom: .8em !important;
	margin-top: 0;
}

.heading4,h4,.h4 {
    font-family: 'Metric',Arial !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 700 !important;
    font-size: 1.125em !important;
    color: #000 !important;
    line-height: normal !important;
    margin-bottom: .8em !important;
	margin-top: 0;
}

.heading5,h5,.h5 {
    font-family: 'Metric',Arial !important;
    font-size: 1.125em !important;
    color: #000 !important;
    line-height: normal !important;
    margin-bottom: .8em !important;
	margin-top: 0;
}

.heading6,h6,.h6 {
    font-family: 'Metric',Arial !important;
    font-style: italic !important;
    font-variant: normal !important;
    font-weight: 700 !important;
    font-size: 1.125em !important;
    color: #000 !important;
    line-height: 22px !important;
	margin-top: 0;
}

p {
    font-family: inherit;
    margin-bottom: 1em;
}

pre,.pre,code,.codeblock,.codephrase {
    font-family: "Courier New",Arial;
    color: inherit;
    background-color: inherit;
    vertical-align: baseline;
}

.codeblock {
	display: block;
	text-indent: 1em;
}

sup {
    font-size: 15px;
	top: -0.4em;
	line-height: 0;
	position:relative;
	vertical-align:baseline;
}
a[target="_blank"]:link,a[target="_blank"]:hover,a[target="_blank"]:active,a[target="_blank"]:visited {
	color: #000!important;
	font-size: 1em;
    line-height: 22px;
	text-decoration: underline!important;
	font-weight: 700;
}

a.xref:link,a sup {
    color: #01B187;
    font-size: 1em;
    line-height: 22px;
    text-decoration: none;
}

a.xref:hover,a sup {
    color: #01B187;
    font-size: 1em;
    line-height: 22px;
    text-decoration: underline;
}

a.xref:active,a sup {
    font-size: 1em;
    line-height: 22px;
    text-decoration: none;
}

a.xref:visited,a sup {
    color: #01B187;
    font-size: 1em;
    line-height: 22px;
    text-decoration: none;
}

ul {
	list-style-type: Disc !important;
    list-style-image: none !important;
    list-style-position: outside !important;
    margin: 0 0 1em 30px !important;
	padding: 0 !important;
}
li {
    font-family: inherit;
    font-size: inherit;
    line-height: 22px !important;
    padding: 0 0 7px !important;
    margin: 0 !important;
    text-align: left !important;
}
ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin: 0 0 16px 34px;
    padding: 0;
}
.ol[type="a"] {
    list-style-position: outside;
    list-style-type: lower-alpha;
    margin: 0 0 0 34px !important;
    padding: 0;	
}
li ul {
	margin: 0 0 0 34px !important;
	padding:0;
}
th.entry {
	border-top: 3px solid #01A982;
	border-right: none;
	border-bottom: none;
	border-left: none;
	font-weight:700;
}
td.entry {
	border-top: 2px solid #C6C9CA;
	border-right:none;
	border-bottom: 2px solid #C6C9CA;
	border-left:none;
}

/*Highlights the table rows with a light grey background*/
tr:hover {
    background-color: #eee;
}

table,.table,.tablenoborder {
    border:0!important;
	max-width: 100% !important;
    width: auto;
}

/* Fix SDL list element <a> */
li p:first-of-type, li div:first-of-type {
    display: inline;
}
li p {
	margin-top:0;
	margin-bottom:0;
	
}

/* Alerts and notes */
.note {
	width: 600px;
	margin:0.8em 10px;
	padding: 5px 0;
	border-top: 2px solid #01A982;
	border-bottom: 2px solid #01A982;
}
.note:hover {
	background-color: #eee;
}
.note p {
	display:inline;
}

table[frame="hsides"] {
	width: 700px !important;
	margin:0.8em 10px;
	padding: 5px 0;
}
table[frame="hsides"] td {
	border-top: 2px solid #01A982 !important;
	border-bottom: 2px solid #01A982 !important;
}
@media all and (max-width:670px) {
    .note,table[frame="hsides"] {
        width: 96% !important;
    }
}
/* Images and media */

img,video {
    max-width: 100% !important;
	height:auto;
}
@media all and (max-width:675px) {
    figure {
        margin: 0;
    }
}
div.imageright {
	text-align:right;
}
div.imageleft {
	text-align:left;
}
div.imagecenter {
	text-align:center;
}
section:last-of-type {
	margin-bottom: 30px;
}
.topictitle1 {
	padding-bottom: 5em;
}
.abstract {
	font-weight:700;
}
.edition,.abstract,.desc {
	padding-bottom: 40px;
}
